.navbar {
  width: 100%;
  min-height: 80px;
  background-color: white;
  &__container {
    margin-bottom: 90px;
    width: 70%;
    min-height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      font-size: 44px;
      font-weight: bold;
      cursor: pointer;
      span {
        color: #f16821;
      }
    }
    &__items {
      &__list {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          color: black;
        }
        li {
          font-size: 17px;
          cursor: pointer;
          transition: 250ms;
          &:hover {
            color: #f16821;
          }
        }
        .active {
          color: #f16821;
        }
      }
      &__menu {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    &__container {
      width: 90%;
    }
  }
  @media only screen and (max-width: 600px) {
    &__container {
      &__items {
        &__list {
          display: none;
        }
        &__menu {
          display: block;
        }
      }
    }
  }
}
